/* ===================
   Global Styles
=================== */

.mb-xs { margin-bottom: 5px; }
.mb-s { margin-bottom: 10px; }
.mb-m { margin-bottom: 20px; }
.mb-l { margin-bottom: 40px; }
.mb-xl { margin-bottom: 100px; }

.mt-s { margin-top: 10px; }

.hidden { display: none !important; }


body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
    overflow-x: hidden;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
}

.container {
    padding-left: 25px;
    padding-right: 25px;
    overflow: hidden; /* Ensure container doesn't add extra scrollbars */
}

:root {
    --dark-color: #101410;
    --dark-pressed-color: #666666;

    --light-color: #FFFFFA;
    --light-pressed-color: #CCC;

    --border-color: #333;

    --green: #007500;
    --citrine: #e6c700;
    --school-bus-yellow: #FFDD00;
    --red: #db2f27;
}

.visual-aid {
    border: 1px solid var(--border-color);
}

/* ===================
   Header
=================== */

header {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    line-height: 7px;
    padding-top: 20px;
    transition: ease 0.5s;
}

h1 {
    margin-left: 10%;
}

h2 {
    font-size: 1em;
    font-weight: 800;
    margin-left: 10%;
}

.smallheader {
    height: 100px;
}

/* ===================
   Nav
=================== */

#nav-icon {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

nav {
    position: absolute;
    right: 10%;
    top: 37px;
    z-index: 999;
    width: 30px;
    height: 30px;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000003;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1px;
    left: 0px;
}

#nav-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 20px;
    left: 0px;
}

/* ===================
   Links
=================== */

.links {
    color: #000003;
    text-decoration: none;
    display: none;
    -webkit-transition: ease 0.1s;
    transition: ease 0.1s;
    text-align: right;
    margin-right: 10%;
    font-size: 1em;
    font-weight: 800;
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    word-spacing: 5px;
}

.about { text-decoration: none; }
.source { text-decoration: none; }

a {
    font-size: 1em;
    color: #000003;
    position: 0;
    margin: 0;
    text-decoration: none;
}

/* ===================
   Wrapper
=================== */

#wrapper {
    width: 80%;
    margin: 0 auto;
        margin-top: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
}

.bgcolor { background: #f7f7f7; }

/* ===================
   Piano
=================== */

.piano {
    display: flex;
    justify-content: flex-start;

    min-width: 100%;
    max-width: none;

    overflow-x: auto;
    white-space: nowrap;

    cursor: pointer;
}

.octave { display: flex; }

.key {
    width: var(--width);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.white {
    --width: 44px;
    height: calc(var(--width) * 4.2);
    background-color: var(--light-color);
    border: 4px solid var(--border-color);
    border-radius: 0px 0px 8px 8px;
}

.white.pressed { background-color: var(--light-pressed-color); }

.black {
    --width: 24.2px;
    height: calc(var(--width) * 4.7);
    background-color: var(--dark-color);
    border-top: 4px solid var(--border-color);
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.black.pressed {
    background-color: var(--dark-pressed-color);
    box-shadow: inset 0px 0px 0px rgb(0 0 0 / 0.2);
}

/* ===================
   Controls
=================== */

#controls {
    color: #000003;
    text-decoration: none;
    -webkit-transition: ease 0.1s;
    transition: ease 0.1s;
    text-align: right;
    font-size: 1em;
    font-weight: 800;
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    word-spacing: 5px;

    width: 100%;
    max-width: 728px;
}

/* ===================
   Results
=================== */

#result {
    width: 100%;
    max-width: 728px;
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    
    gap: 5px;
}

button.chord {
    box-sizing: border-box;
    display: flex;

    padding: .375rem .75rem;

    align-items: center;

    border: 1px solid transparent;
    border-radius: 1rem;

    cursor: pointer;
    white-space: nowrap;

    background-color: #E8E8E8;

    opacity: 1; /* Initial state: invisible */
    transition: opacity 0.5s ease; /* Duration and easing function */
}

button.chord.htmx-added {
    opacity: 1; /* Final state: visible */
}

button.chord:hover {
    background-color: #DEDEDE;
}

.play-icon {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.green { background-color: var(--green); }
.yellow { background-color: var(--citrine); }
.red { background-color: var(--red); }

.name {
    display: flex;
    align-items: center; /* Vertically center the content */
    height: 100%;

    letter-spacing: .025em;

    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;

    margin-left: 5px;
}