{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block subtitle %}
<h2>ergonomic music tools</h2>
{% endblock %}

{% block firstlink %}
<span class="link identifier">
    <a href="/">identifier</a>
</span>
{% endblock %}

{% block content %}
<div id="message" class="container mb-m">
    <div class="mb-m">
        <p>For whatever reason you’re here, thanks for dropping by.</p>
        <p>I built <strong>akkord</strong> to learn new things, both for web development and music theory.</p>
        <p>Sometime in the future I plan to add more tools, like a chord progression generator, and some visualizers, or maybe something else, who knows.</p>
        <p>This was a lot of fun, I hope you found it helpful.</p>
    </div>
    <a class="linkedin" href="https://www.linkedin.com/in/adam-kadda-3120aa244/" target="_blank">My LinkedIn</a>
</div>
{% endblock %}