{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block subtitle %}
<h2>interactive music theory</h2>
{% endblock %}

{% block firstlink %}
<span class="link identifier">
    <a href="/">identifier</a>
</span>
{% endblock %}

{% block content %}
<section id="message" class="container">
    <p>For whatever reason you’re here, thanks for dropping by.</p>
    <p>I built <strong>akkord</strong> to learn new things in web development and music theory.</p>
    <p>Sometime in the future, I plan to add more tools—like a chord progression generator, visualizers, or maybe something else entirely. Who knows?</p>
    
    <p>This project was a lot of fun to build, and I hope you find it helpful.</p>
    
    <p>Made with love,</p>
    <p>Feel free to reach out on <a class="linkedin" href="https://www.linkedin.com/in/adam-kadda-3120aa244/" target="_blank">LinkedIn</a>.</p>
</section>
{% endblock %}