<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
        <script src="/static/script.js" defer></script>
        <title>akkord: About</title>
    </head>
    <body>
        <header class="smallheader">
            <h1>akkord</h1>
            <h2>ergonomic music tools</h2>
            <div class="links" style="display: none;">
                <span class="link about">
                    <a href="index.html">identifier</a>
                </span>
                <span class="link source">
                    <a href="https://github.com/adamkadda/akkord" target="_blank">source</a>
                </span>
            </div>
            <nav id="nav-icon" class="">
                <span></span>
                <span></span>
                <span></span>
            </nav>
        </header>
        <div id="wrapper" class="bgcolor"></div>
    </body>
</html>