<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
        <script src="/static/script.js" defer></script>
        <title>akkord: Piano Chord Identifier</title>
    </head>
    <body>
        <header class="smallheader">
            <h1>akkord</h1>
            <h2>press keys to select notes</h2>
            <div class="links" style="display: none;">
                <span class="link about">
                    <a href="about.html">about</a>
                </span>
                <span class="link source">
                    <a href="https://github.com/adamkadda/akkord" target="_blank">source</a>
                </span>
            </div>
            <nav id="nav-icon" class="">
                <span></span>
                <span></span>
                <span></span>
            </nav>
        </header>
        <div id="wrapper" class="bgcolor">
            <div class="piano-container">
                <div class="piano mt-s mb-s"
                hx-get="/identify"     
                hx-trigger="click delay:1s"
                hx-target="#results"
                hx-swap="innerHTML"
                hx-headers='{"Content-Type": "application/json"}'
                hx-vals='js:{
                    "notes": JSON.stringify(selected)
                }'>
                <div class="octave" id="lower-octave">
                    <div data-semitone="-12" class="key white"></div>
                    <div data-semitone="-11" class="key black"></div>
                    <div data-semitone="-10" class="key white"></div>
                    <div data-semitone="-9" class="key black"></div>
                    <div data-semitone="-8" class="key white"></div>
                    <div data-semitone="-7" class="key white"></div>
                    <div data-semitone="-6" class="key black"></div>
                    <div data-semitone="-5" class="key white"></div>
                    <div data-semitone="-4" class="key black"></div>
                    <div data-semitone="-3" class="key white"></div>
                    <div data-semitone="-2" class="key black"></div>
                    <div data-semitone="-1" class="key white"></div>
                </div>
                <div class="octave" id="middle-octave">
                    <div data-semitone="0" class="key white"></div>
                    <div data-semitone="1" class="key black"></div>
                    <div data-semitone="2" class="key white"></div>
                    <div data-semitone="3" class="key black"></div>
                    <div data-semitone="4" class="key white"></div>
                    <div data-semitone="5" class="key white"></div>
                    <div data-semitone="6" class="key black"></div>
                    <div data-semitone="7" class="key white"></div>
                    <div data-semitone="8" class="key black"></div>
                    <div data-semitone="9" class="key white"></div>
                    <div data-semitone="10" class="key black"></div>
                    <div data-semitone="11" class="key white"></div>
                </div>
            </div>
            </div>
            <div class="results-container hidden">
                <div class="chord"></div>
                <div class="chord"></div>
                <div class="chord"></div>
                <div class="chord"></div>
                <div class="chord"></div>
                <div class="chord"></div>
            </div>
        </div>
    </body>
</html>