<!DOCTYPE html>
<html lang="en" translate="yes">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
        <script src="https://unpkg.com/htmx.org"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
        <script src="/static/script.js" defer></script>
        <title>akkord: Piano Chord Identifier</title>
    </head>
    <body>
        <header class="smallheader">
            <h1 translate="no">akkord</h1>
            <h2>press keys to select notes</h2>
            <div class="links" style="display: none;">
                <span class="link about">
                    <a href="about.html">about</a>
                </span>
                <span class="link source">
                    <a href="https://github.com/adamkadda/akkord" target="_blank">source</a>
                </span>
            </div>
            <nav id="nav-icon" class="">
                <span></span>
                <span></span>
                <span></span>
            </nav>
        </header>
        <div id="wrapper" class="bgcolor">
            <div class="container">
                <div class="piano mt-s mb-s"
                    hx-post="/identify"
                    hx-ext="json-enc"
                    hx-trigger="click delay:1s"
                    hx-target="#result"
                    hx-swap="innerHTML"
                    hx-headers='{"Content-Type": "application/json"}'
                    hx-vals='js:{notes: selected}'>
                    <div class="octave" id="lower-octave">
                        <div data-semitone="-12" class="key white"></div>
                        <div data-semitone="-11" class="key black"></div>
                        <div data-semitone="-10" class="key white"></div>
                        <div data-semitone="-9" class="key black"></div>
                        <div data-semitone="-8" class="key white"></div>
                        <div data-semitone="-7" class="key white"></div>
                        <div data-semitone="-6" class="key black"></div>
                        <div data-semitone="-5" class="key white"></div>
                        <div data-semitone="-4" class="key black"></div>
                        <div data-semitone="-3" class="key white"></div>
                        <div data-semitone="-2" class="key black"></div>
                        <div data-semitone="-1" class="key white"></div>
                    </div>
                    <div class="octave" id="middle-octave">
                        <div data-semitone="0" class="key white"></div>
                        <div data-semitone="1" class="key black"></div>
                        <div data-semitone="2" class="key white"></div>
                        <div data-semitone="3" class="key black"></div>
                        <div data-semitone="4" class="key white"></div>
                        <div data-semitone="5" class="key white"></div>
                        <div data-semitone="6" class="key black"></div>
                        <div data-semitone="7" class="key white"></div>
                        <div data-semitone="8" class="key black"></div>
                        <div data-semitone="9" class="key white"></div>
                        <div data-semitone="10" class="key black"></div>
                        <div data-semitone="11" class="key white"></div>
                    </div>
                </div>
            </div>
            <div id="controls" class="container mb-m">
                <span id="mute">mute</span>
                <span id="reset">reset</span>
            </div>
            <div id="result" class="container"></div>
        </div>
        <div id="audio-container">
            <audio id="-12" src="../static/audio/-12.wav"></audio>
            <audio id="-11" src="../static/audio/-11.wav"></audio>
            <audio id="-10" src="../static/audio/-10.wav"></audio>
            <audio id="-9" src="../static/audio/-9.wav"></audio>
            <audio id="-8" src="../static/audio/-8.wav"></audio>
            <audio id="-7" src="../static/audio/-7.wav"></audio>
            <audio id="-6" src="../static/audio/-6.wav"></audio>
            <audio id="-5" src="../static/audio/-5.wav"></audio>
            <audio id="-4" src="../static/audio/-4.wav"></audio>
            <audio id="-3" src="../static/audio/-3.wav"></audio>
            <audio id="-2" src="../static/audio/-2.wav"></audio>
            <audio id="-1" src="../static/audio/-1.wav"></audio>
            <audio id="0" src="../static/audio/0.wav"></audio>
            <audio id="1" src="../static/audio/1.wav"></audio>
            <audio id="2" src="../static/audio/2.wav"></audio>
            <audio id="3" src="../static/audio/3.wav"></audio>
            <audio id="4" src="../static/audio/4.wav"></audio>
            <audio id="5" src="../static/audio/5.wav"></audio>
            <audio id="6" src="../static/audio/6.wav"></audio>
            <audio id="7" src="../static/audio/7.wav"></audio>
            <audio id="8" src="../static/audio/8.wav"></audio>
            <audio id="9" src="../static/audio/9.wav"></audio>
            <audio id="10" src="../static/audio/10.wav"></audio>
            <audio id="11" src="../static/audio/11.wav"></audio>
        </div>             
    </body>
</html>